body {
    background-image: linear-gradient(blue, purple, yellow);
    font-family: sans-serif;
    /* border: 5px solid green;   */
    height: 120vh;
}

#wrapper {
    /* border: 3px red solid; */
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 4.5rem;
}

#navbar {
    /* border: 3px red solid; */
    background-color: rgb(5, 0, 70, 0.8);
    display: flex;
    font-size: 1.5rem;
    grid-row: 1/2;
    grid-column: 1/3;
    /* border: solid hotpink 3px; */
    justify-content: space-evenly;
    
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    margin: 0;

}

#navbar a{
    padding: 1rem;
}
#navbar a:link{
    text-decoration: none;
}

#navbar :visited{
    color: yellow;
}

#bennysbild{
    border-radius: 40%;
    height: 5rem;
    margin-right: 2rem;
    border: 2px red solid;
}

#bennysOne {
    /* border: 3px red solid; */
    grid-row: 1/2;
    grid-column: 2/3;
}

#bennysTwo {
    grid-row: 2/2;
    grid-column: 2/3;
}

#bennysThree {
    grid-row: 1/2;
    grid-column: 3/3;
}

#bennysFour {
    grid-row: 2/2;
    grid-column: 3/3;
}

.sectionsClass {
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    max-width: 15rem;
    text-align: center;
    border: solid 7px darkblue;
    border-left: 2px solid darkblue;
    border-top: 2px solid darkblue;
    background-image: linear-gradient(darkblue, lightblue, darkblue);
    color: yellow;
    border-radius: 1rem;
    margin: 1rem;
}

.sectionsClass img {
    /* border: 3px red solid; */

    display: block;
    max-width: 15rem;
    height: 12rem;
    border-radius: 1rem;
}

.buttons {
    font-size: 1rem;
    margin-top: 0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: yellow;
    color: darkblue;
}

.buttons:active {
    background-color: blue;
    color: yellow;
    border: 2px yellow solid;
}

.buttons:hover {
    background-color: rgba(255, 255, 0, 0.603);
    color: darkblue;
}

.infoDiv {
    border-bottom: 1px red solid;
    border-right: 1px red solid;
    border-left: 1px red solid;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    max-width: 30%;
}

.infoDivTop {
    border: 1px red solid;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    max-width: 30%;
}

em {
    font-size: 1rem;
}

@media screen and (max-width: 870px){
    body{
        height: auto;

    }
    #wrapper {
        display: flex;
        justify-content: center;
        margin-right: 10%;
        margin-left: 10%;
    }


    #navbar {
        flex-wrap: wrap;
        font-size: 0.8rem;
    
    }

    #bennysbild{
        border-radius: 40%;
        height: 3rem;
        margin-right: 2rem;
        border: 2px red solid;
    }
        
    
}